[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115,
    C0116,
    R0903, # too-few-public-methods
    E0712,
    W0718,
    E0611,
    I1101, # c-extension-no-member


[FORMAT]
max-line-length=80